
games/FNaFB1/Save01.rvdata2
worlds/fnafb1.apworld
games/FNaFB1/Save03.rvdata2
games/FNaFB1/Save02.rvdata2
games/FNaFB1/Save01.rvdata2.bak
worlds/fnafb2.apworld
games/FNaFB2/Save01.rvdata2
games/FNaFB2/Save02.rvdata2
games/FNaFB2/Save03.rvdata2
games/FNaFB2/Save01.rvdata2.bak
.history