
games/FNaFB1/Save01.rvdata2
worlds/fnafb1.apworld
games/FNaFB1/Save03.rvdata2
games/FNaFB1/Save02.rvdata2
games/FNaFB1/Save01.rvdata2.bak
worlds/fnafb1/.vs/fnafb1/v17/.wsuo
worlds/fnafb1/.vs/fnafb1/v17/DocumentLayout.json
worlds/fnafb1/.vs/ProjectSettings.json
worlds/fnafb1/.vs/slnx.sqlite
worlds/fnafb1/.vs/VSWorkspaceState.json
